{% load static %}

  <div class="position-sticky pt-3">
    <ul class="nav flex-column">

      <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
          <span data-feather="home"></span>
          Dashboard
        </a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="">-->
<!--          <span data-feather="layout"></span>-->
<!--          駐車區管理-->
<!--        </a>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="">-->
<!--          <span data-feather="truck"></span>-->
<!--          工程車管理-->
<!--        </a>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="">-->
<!--          <span data-feather="users"></span>-->
<!--          人員資料管理-->
<!--        </a>-->
<!--      </li>-->
    </ul>

<!--    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">-->
<!--      <span>管理員選項</span>-->
<!--    </h6>-->

<!--    <ul class="nav flex-column mb-2">-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">-->
<!--          <span data-feather="file-text"></span>-->
<!--          廠區資料-->
<!--        </a>-->
<!--        <ul class="dropdown-menu">-->
<!--          <li><a class="dropdown-item" href="#">A 廠</a></li>-->
<!--          <li><a class="dropdown-item" href="#">B 廠</a></li>-->
<!--          <li><a class="dropdown-item" href="#">C 廠</a></li>-->
<!--          <li><a class="dropdown-item" href="#">D 廠</a></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="">-->
<!--          <span data-feather="users"></span>-->
<!--          帳號管理-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="">-->
<!--          <span data-feather="home"></span>-->
<!--          廠區管理-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
  </div>
